body{
    margin: 30px 60px 30px 60px;
    font-family: 'comic sans ms'; 
    background-image: linear-gradient(#066163, #CDBE78);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.5px);
    text-align: center;
    border: 3px solid rgba(165,144,115);
    max-width: 1000px;
    margin: auto;
}
.navbar{
    padding: 0px 1px 0px 1px;
    background: #F2F2F2;
    padding-left: 290p
}
.navbar ul{
    display: flex;
}

.navbar ul li{
    display: flex;
    overflow: hidden;
}

.navbar ul li a{
    color: black;
}

.navbar ul li a:hover{
    color: gold;
    text-decoration: underline;
}

.konten{
    padding-left: 90px;
}